<!DOCTYPE html>
{% extends 'adminindex.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body"  style="background-color: gray;">
    <h4 class="card-title">Edit Job Post</h4>
    <br>
    <form action="{% url 'update_job' job_id=job_data.JobId %}" class="forms-sample" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputName1">Job Title</label>
            <input class="form-control" id="exampleInputName1" name="title" type="text" value="{{job_data.Title}}">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Company Name</label>
            <input class="form-control" id="exampleInputName2" name="cname" type="text" value="{{job_data.Company}}">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Location</label>
            <input class="form-control" name="location" type="text" value="{{job_data.Location}}">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Qualification</label>
            <input class="form-control" name="qualification" type="text" value="{{job_data.Qualification}}">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Description</label>
            <textarea class="form-control" name="description">{{job_data.Description}}</textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Email</label>
            <input class="form-control" name="email" type="email" value="{{job_data.Email}}">
        </div>

        <button class="btn btn-primary mr-2" type="submit">Update</button>
        <a class="btn btn-success mr-2" href="{% url 'job_applications' job_id=job_data.JobId %}">View Applications</a>
    </form>
            <div><br>
        <!-- Add a button for status update -->
            <a href="{% url 'status_update_page' job_update=job_data.Company %}">
                <button class="btn btn-danger mr-2 btn-rounded">View Status</button>
            </a>
        </div>
</div>
</body>
</html>
{% endblock %}